* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a:hover {
	text-decoration: none;
}

input[type="text"] {
	display: block;
	width: 100%;
	padding: 3px;
	margin-bottom: 0.375em;
	font-size: 1.125em;
}

button, input[type="submit"] {
	padding: 1em;
	border: 0;
	font-size: 0.75rem;
	background-color: #333;
	color: #FFF;
	text-transform: uppercase;
}

button:hover, input[type="submit"]:hover {
	cursor: pointer;
}

#map-wrapper {
	display: flex;
	flex-direction: column;
}

#map-canvas {
	width: 100vw;
	min-height: 60vh;
	order: 1;
}

#map-nav {
	order: 5;
}

#map-nav ul {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
}

#map-nav li {
	width: 50%
}

#map-nav a {
	display: block;
	overflow: hidden;
	padding: 2em;
	background: #333;
	color: #FFF;
	font-size: 0.875em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: background 0.375s;
}

#map-nav a:hover {
	background: #1c1c1c;
}

#map-nav a.active {
	background: #000;
}

#map-nav a.active:hover {
	cursor: text;
}

#map-nav a .count {
	display: block;
	font-size: 2.5rem;
}

#map-reset-btn {
	display: none;
	position: absolute;
	z-index: 10;
	top: 1rem;
	left: 1rem;
}

#map-reset-btn.active {
	display: block;
}

#get-directions {
	order: 10;
	padding: 1rem;
}

#map-response-panel {
	display: none;
	padding: 0.75rem;
	margin-bottom: 0.375em;
	font-size: 0.875em;
}

#map-response-panel.active {
	display: block;
}

#map-response-panel.error {
	border: 1px solid #F00;
	color: #F00;
}

@media (min-width: 950px) and (min-height: 750px) {
	#map-wrapper {
		height: 100vh;
		flex-direction: row;
	}

	#map-canvas {
		height: 100vh;
		flex: 1 1 60%;
		order: 5;
	}

	#map-nav, #get-directions {
		flex: 0 0 20%;
		overflow: scroll;
	}

	#map-nav {
		order: 1;
	}

	#map-nav ul {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	#map-nav li {
		flex: 1;
		display: flex;
		align-items: center;
		width: 100%;
	}

	#map-nav a {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#map-reset-btn {
		left: 20.625%;
		top: auto;
		bottom: 3rem;
	}
}

#map-canvas .window-heading {
	font-weight: bold;
}